.body {
  margin: 0;
  padding: 0;
  display: flex;
}

.inputs {
  display: flex;
}

#sidebar {
  height: 95vh;
  width: 300px;
  border-right: 1px solid #ccc;
  padding: 1em;
  padding-top: 1em !important;
}

#header {
  height: 5vh;
  width: 100vw;
  border: 1px solid #ccc;
  padding: 0 0.5em !important;
  display: flex;
}

.container {
  display: flex;
  height: 100%;
}
