.body {
  margin: 0;
  padding: 0;
  display: flex;
}

.inputs {
  display: flex;
}

#header {
  height: 5vh;
  width: 100vw;
  border: 1px solid #ccc;
  padding: 0 0.5em !important;
  display: flex;
}

.container {
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
  width: 100%;
}

.inputs {
  display: flex;
}

#addbutton {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 5px;
}

.app {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Style */
.header {
  background-color: #000; /* Light Green */
  padding: 1px;
  display: flex;
  justify-content: space-between;

}

.header img {
  padding: 5px;
  width: 3em;
  height: 3em;
}

/* Sidebar Style */
.sidebar {
  background-color: #fff; /* Darker Green */
  width: 25%;
  top: 0;
  left: 0;
  padding: 10px;
}

.sidebar h3 {
  margin: 15px 0px 5px 0px;
}

.main {
  width: 75%;
  height: 100%;
}

/* Main Content Style */
.content {
  background-color: #ecf0f1; /* Light Gray */
  padding: 20px;
  border-radius: 10px;
}

.btn-cal {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.ant-btn {
  background-color: #9dcfcf;
  margin: 10px;
}

.ant-input{
  margin: 10px;
  border-radius: 30px;
}

.left-sidebar>div {
  border-color: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 0 20px 20px 20px;
}

.canvas-div
{background-color: #aaaaaa;
  height: 100%}